.layout {
  background-color: rgb(246, 240, 232);
  min-height: 100vh;
  font-size: larger;
  .menu {
    position: fixed;
    height: fit-content;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    // background-color: rgba(98, 235, 160, 0.8);
    background-color: rgba(52, 152, 219, 0.8);
    // background-color: #3498db;
    z-index: 2;
    justify-content: flex-end;
    .menu-center {
      display: flex;
      background: none;
      border-bottom: 0;
    }
    .menu-right {
      display: flex;
      margin-left: 33vw;
      background: none;
      border-bottom: 0;
      font-size: 50%;
    }
    //至今没找到这个伪元素作用在哪
    .ant-menu-item-active {
      color: white;
    }::after {
      color: white;
    }
    .ant-menu-item-selected {
      color: white;
    }
    ::after {
      color: white;
    }
    .ant-menu-title-content::after {
      color: white;
    }
  }
  .content {
    margin-left: 15vw;
    margin-top: 10vh;
    width: 70vw;
    min-height: 80vh;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    ::after {
      height: 5px; /* 设置阴影的高度 */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    }
  }
  .footer {
    text-align: center;
    background-color: rgb(246, 240, 232);
  }
}

.container-detailPage {
  height: 80vh;
  .my-carousel {
    .carousel-content {
      height: 80vh;

      .carousel-content-text {
        margin-top: -5%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        margin-left: 9%;
        .ant-card-cover {
          margin-top: 1px;
          width: 100%;
          min-height: 60%;
          max-height: 60%;
          overflow: hidden;
          border-bottom: 1px solid rgb(231, 227, 227);
        }
        .ant-card-text {
          display: flex;
          flex-direction: column;
        }
        .carousel-content-item {
          margin-left: 1%;
          margin-top: 2%;
          border: 1px solid rgb(232, 219, 219);
          height: 30%;
          width: 20%;
          display: flex;
          z-index: 0;
          flex-direction: column;
          overflow: hidden;
          .img {
            border: 1px solid red;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.container-aritclePage {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  .article-content {
    width: 100%;
    z-index: 1;
    .article-header {
      background-color: white;
      border-bottom: 1px solid lightgray;
      padding-bottom: 1%;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: fit-content;
      .header-title {
        padding: 0%;
        #title {
          font-size: larger;
        }
      }

      .header-info {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        font-size: xx-small;
      }
    }
  }
  .markdown-nav {
    background-color: white;
    overflow: auto;
    height: 80vh;
    position: fixed;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: default;
    ::after {
      height: 5px; /* 设置阴影的高度 */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    }
    .MdCatalog {
      font-size: small;
    }
  }

  .comment {
    margin-top: 5%;
  }
}
