.layout {
  background-color: rgb(246, 240, 232);
  min-height: 100vh;
  .menu {
    position: fixed;
    height: fit-content;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: rgba(98, 235, 160, 0.8);
    z-index: 1;
    justify-content: flex-end;
    .menu-center {
      display: flex;
      background: none;
      border-bottom: 0;
      // background-color: rgba(98, 235, 160, 0.8);
    }
    .menu-right {
      display: flex;
      margin-left: 33vw;
      background: none;
      border-bottom: 0;
      font-size: 50%;
    }
  }
  .content {
    margin-left: 15vw;
    margin-top: 10vh;
    width: 70vw;
    min-height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    ::after {
      height: 5px; /* 设置阴影的高度 */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    }
  }
  .footer {
    text-align: center;
    background-color: rgb(246, 240, 232);
  }
}

.container-detailPage {
  // border: 1px solid red;
  height: 80vh;
  .my-carousel {
    // border: 1px solid red;
    .carousel-content {
      height: 80vh;

      .carousel-content-text {
        margin-top: -5%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        .ant-card-cover {
          margin-top: 1px;
          width: 100%;
          height: 60%;
          border-bottom: 1px solid rgb(231, 227, 227);

        }
        .ant-card-text {
          display: flex;
          flex-direction: column;
          // height: 40%;
          margin-top: -10%;
        }
        .carousel-content-item {
          margin-left: 1%;
          margin-top: 2%;
          border: 1px solid rgb(232, 219, 219);
          height: 30%;
          width: 20%;
          display: flex;
          z-index: 0;
          flex-direction: column;
          overflow: hidden;
        }
      }
    }
  }
}
