@charset "UTF-8";
.Login-layout {
  color: black;
}

.LoginPannel {
  position: absolute;
  top: 20vh;
  right: 15vw;
  border-radius: 3%;
  height: 50vh;
  width: auto;
  background-color: rgba(98, 222, 238, 0.1);
}
.LoginPannel .ant-form { /*antd内部form标签class名*/
  padding: 8%;
}

.two-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.two-button .login-form-button {
  margin-right: 20%;
}