.back-div {
  cursor: pointer;
  font-size: medium;
}

.comment-layout {
  width: 100%;
}
.comment-layout .layout {
  background-color: white;
}
.comment-layout .layout .article-list {
  height: 100%;
  overflow: auto;
}
.comment-layout .content1 {
  width: 100%;
  min-height: 92vh;
  overflow-y: auto;
}