.container {
  color: black;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 8.5vh;
}
.menu-header Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}
.menu-header Header img {
  width: 25vw;
  border: 1px solid red;
}
.menu-header Header .menu-header-left {
  border: 1px solid red;
}
.menu-header Header .menu-header-right {
  border: 1px solid red;
  position: relative;
  left: 35vw;
}

.container-detailPage {
  border: 1px solid red;
  height: 81vh;
  width: 100vw;
}
.container-detailPage .carousel div h3 {
  margin: 0;
  color: #fff;
  line-height: 30vh;
  text-align: center;
  background: #64c3db;
}
.container-detailPage .teachPage {
  color: black;
}