.App {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: calc(10px + 2vmin);
}

.App::-webkit-scrollbar {
  display: none;
}

.App-header {
  font-size: calc(10px + 2vmin);
}