@charset "UTF-8";
.layout {
  background-color: rgb(246, 240, 232);
}
.layout .menu {
  position: fixed;
  height: 8%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  width: 100%;
  background-color: rgba(98, 235, 160, 0.8);
  z-index: 1;
}
.layout .content {
  margin-left: 15vw;
  margin-top: 10vh;
  width: 70vw;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
.layout .content ::after {
  height: 5px; /* 设置阴影的高度 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
.layout .footer {
  text-align: center;
  background-color: rgb(246, 240, 232);
}