.article-layout {
  .layout {
    background-color: white;
  }
  // display: flex;
  width: 100%;
  min-height: 50vh;
  // max-height: 80vh;
  // overflow-y: scroll;
  border: 1px solid red;

  #content-md {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
  }
  .left-sider {
    background-color: white;
    .toc-list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
