.back-div {
  //将鼠标变成手
  cursor: pointer;
  font-size: medium;
}

.comment-layout {
  .layout {
    background-color: white;
    .article-list {
      height: 100%;
      overflow: auto;
    }
  }
  width: 100%;
  .content1 {
    width: 100%;
    min-height: 92vh;
    overflow-y: auto;
  }
}
