.admin-layout {
  background-color: rgb(246, 240, 232);
  min-height: 100vh;
  .menu {
    position: fixed;
    height: 8vh;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: rgba(98, 235, 160, 0.8);
    z-index: 1;
  }
  .admin-content {
    display: flex;
    margin-top: 8vh;
    justify-content: center;
    align-items: center;
  }
}
.main-content-layout{
  width: 50vw;
  min-height: 92vh;
  max-height: 92vh;
  overflow-y: auto;
}